<html>

<head>
      <h2>Count</h2>
</head>

<body>

<p> Counting items in a <b>vector</b> </p>
<p> Using <i>mtcars</i> dataset which is in built data in R </p>

<!--begin.rcode
head(mtcars)
end.rcode-->

<p>You can also embed plots, for example:</p>

<!--begin.rcode fig.width=7, fig.height=6
plot(cars)
end.rcode-->

</body>
</html>
